# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
Dependencies/apache-maven-3.9.11-bin

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# OS-specific files
# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Java
*.class

# Backup files
*~